html {background-image: linear-gradient(to bottom right, skyblue, white);}
*{font-family:Tahoma;}
.pagecontainer{
  max-width:5000px;
  margin: 50px 300px 0px;
}
.header {
  background-color: #0192E6;
  padding: 20px;
  text-align: center;
  color: white;
}
.weather {
  background-color: #0BA5FE;
  padding: 20px;
  text-align: center;
  color: white;
}
.weather2 {
  background-color: #2AB0FE;
  padding: 20px;
  text-align: center;
  color: white;
}
.forecast {
  background-color: #61caff;
  padding: 20px;
  text-align: center;
  color: white;
}
